:root{
    --factor: 0.562444641275465;
    --width: 456.67px;
}
@keyframes spin {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

.box{
    position:absolute;
    top:400px;
    left:600px;
    width:var(--width);
    height:calc(var(--factor) * var(--width));
    border-style: solid;
    border-radius:6px;
    border-color: #bed4df;
    background-color: #bed4df;
}

.inputs{
    display:flex;
    flex-direction: column;
    gap:50px;
}
.group{
    display:flex;
    flex-direction: column;
    width:300px;
    margin-left:100px;
    margin-top:25px;
}

#reset{
    position:absolute;
    top:500px;
    left:110px;
    background-color: #bed4df;
}

